
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Areas/EN/Views/Shared/_GeneralLayoutEN.cshtml";
}

<section id="AboutFirst" class="AboutUs_PageFirstPart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center> <h2 class="section_header">Every thing about Parla Phama</h2></center>
            </div>
        </div>
    </div>
</section>

<section id="AboutParla" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">About Parla! </h2>
            </div>
        </div>
    </div>
</section>
<section class="AboutParla_section page_mainslider">
    <div class="flexslider" data-dots="true" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/slide06.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer " data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h4 style="color:white;text-align:left;">Parla Pharmaceuticals</h4>
                                        <p style="color:white;text-align:left;font-size:larger"> established in 2019, is the first science-based pharmaceutical company of Azerbaijan, focusing on the full production of high-technology medicines. </p>
                                        <span class="bottom_corners"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/slide05.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer " data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h4 style="color:white;text-align:left;"></h4>
                                        <p style="color:white;text-align:left;font-size:larger">
                                            The initial aim is to produce high quality pharmaceutical products with affordable price and our mission is to develop customer orientation and leadership in the pharmaceutical market and community.
                                        </p>
                                        <span class="bottom_corners"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/slide04.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer " data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h4 style="color:white;text-align:left;"></h4>
                                        <p style="color:white;text-align:left;font-size:larger">
                                            Exporting advanced biotechnological and nanotechnological products is one of the key focus areas. Parla is ambitious to be Azerbaijan’s best Pharmaceutical brand worldwide.
                                        </p>
                                        <span class="bottom_corners"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/slide03.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer " data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h4 style="color:white;text-align:left;"></h4>
                                        <p style="color:white;text-align:left;font-size:larger">
                                            With the footprint and commitment to improving access to healthcare and improving quality of life, Parla works tirelessly to make a difference to people’s lives every day and focuses on transferring scientific innovation. This will be aligned with social and environmental focus.
                                        </p>
                                        <span class="bottom_corners"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- eof flexslider -->
</section>

<section id="OurMission" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Mission! </h2>
            </div>
        </div>
    </div>
</section>
<section id="" class="AboutUs_PageMissionPart">
    <p class="leftpadding_30 rightpadding_30 bottompadding_30">
        initial aim is to produce high quality pharmaceutical products with affordable price and our mission is to develop customer orientation and leadership in the pharmaceutical market and community. Exporting advanced biotechnological and nanotechnological products is one of the key focus areas.
    </p>
</section>

<section id="OurValues" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Values! </h2>
            </div>
        </div>
    </div>
</section>
<section id="" class="AboutUs_PageValuesPart">
    <p class="leftpadding_30 rightpadding_30 bottompadding_30">
        initial aim is to produce high quality pharmaceutical products with affordable price and our mission is to develop customer orientation and leadership in the pharmaceutical market and community. Exporting advanced biotechnological and nanotechnological products is one of the key focus areas.
    </p>
</section>

<section id="OurCulture" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Our Culture! </h2>
            </div>
        </div>
    </div>
</section>
<section id="" class="AboutUs_PageCulturePart">
    <p class="leftpadding_30 rightpadding_30 bottompadding_30">
        We believe that success of our business depends directly on personal contribution of every employee. Our teamwork is based on learning culture, effetive communication, constructive feedback and determination.
    </p>
</section>

<section id="SocialResponsibility" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Social Responsibility! </h2>
            </div>
        </div>
    </div>
</section>
<section id="" class="AboutUs_PageSocialPart">
    <p class="leftpadding_30 rightpadding_30 bottompadding_30">
        Staying true to our mission, values and culture we focus on contributing to benefit our patients, society and environment
    </p>
</section>

<section id="ParlaTeam" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header"> Parla Team! </h2>
            </div>
        </div>
    </div>
</section>
<section class="AboutUs_PageTeamPart page_mainslider">
    <div class="flexslider" data-dots="true" data-nav="true">
        <ul class="slides">
            <li>
                <img src="~/lib/pharma/images/DSC00251.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer " data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h4 style="color:white;text-align:left;">Our team is our main asset!</h4>
                                        <p style="color:white;text-align:left;font-size:larger"> Parla is a young, talented, ambitious and agile team of professionals! </p>
                                        <span class="bottom_corners"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/DSC00568.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer " data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h4 style="color:white;text-align:left;"></h4>
                                        <p style="color:white;text-align:left;font-size:larger">
                                            We are a dynamic and energetic team of professionals who focus on excellence and success. Our people are equipped with many years of experience, along with the knowledge and confidence in their field of work. In Parla we believe in innovation, dedication and teamwork.
                                        </p>
                                        <span class="bottom_corners"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <img src="~/lib/pharma/images/DSC00788.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer " data-animation="slideExpandUp">
                                        <h5 class="thin"> </h5>
                                        <h4 style="color:white;text-align:left;"></h4>
                                        <p style="color:white;text-align:left;font-size:larger">
                                            With a well-trained professional team and abundance of experience behind them, Parla is determined to become a first-class pharmaceutical company in Azerbaijan. Our success is a reflection of our people and we love what we do!
                                        </p>
                                        <span class="bottom_corners"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- eof flexslider -->
</section>

@*<section id="" class="AboutUs_PageTeamPart">
    <p class="leftpadding_30 rightpadding_30 bottompadding_30">
        Our professional team is one of our key values
    </p>
</section>*@


<section id="about" class="ls section_padding_top_150 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="section_header">  </h2>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        try {
    var ScrollAmount = '@ViewBag.ScrollAmount';
    var PageID = '@ViewBag.PageName';
    var TagID = '@ViewBag.JumpToDivId';

    ScrollObjects(TagID, ScrollAmount);
} catch (e) {
    //document.getElementById("demo").innerHTML = err.message;
    alert(err.message);
}
    </script>
}


