
@{
    ViewData["Title"] = "Career";
    Layout = "~/Areas/EN/Views/Shared/_GeneralLayoutEN.cshtml";
}

<section id="WhyParlaFirst" class="WhyParla_PageFirstPart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="section_header">We shine for a better future!</p>
                <h6>We know how to work and have fun at the same time</h6>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_30 section_padding_bottom_130">
    <div class="container">
        <div class="row columns_margin_bottom_20">
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/lib/pharma/images/gallery/23.jpg" alt="">
                    </div>
                    <div class="item-content" style="height:200px !important">
                        <h4> <a href="javascript:ScrollObjects('WhyPARLA', 0, '@ViewBag.PageID', false)">Why PARLA?</a> </h4>
                        <p>Values of PARLA is a key to success of the team and the main accelerator of our business.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/lib/pharma/images/gallery/23.jpg" alt="">
                    </div>
                    <div class="item-content" style="height:200px !important">
                        <h4> <a href="javascript:ScrollObjects('Vacancies', 0, '@ViewBag.PageID', false)">Vacancies </a> </h4>
                        <p>Join the team of professionals in PARLA.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/lib/pharma/images/gallery/23.jpg" alt="">
                    </div>
                    <div class="item-content" style="height:200px !important">
                        <h4> <a href="~/EN/Home/Applicationform">Application Form </a> </h4>
                        <p>Join us!</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div id="WhyPARLA"></div>
<section class="cs color main_color2 parallax section_subscribe ls section_padding_top_30 section_padding_bottom_30 ">
    <div class="container">
        <div class="row bottompadding_20">
            <h1> Why PARLA? </h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color">
                            <i class="rt-icon2-tag2"></i>
                        </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Professionalism</a></h5>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Teamwork</a></h5>
                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Innovation</a></h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Performance</a></h5>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Motivation package</a></h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Development of talents</a></h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Fun-loving corporate culture</a></h5>

                    </div>
                </div>
                <div class="teaser media hover_icon">
                    <div class="media-left">
                        <div class="teaser_icon rounded main_bg_color "> <i class="rt-icon2-tag2"></i> </div>
                    </div>
                    <div class="media-body toppadding_10">
                        <h5 class="hover-color2"><a href="#">Comfortable workplace</a></h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="Vacancies"></div>
<section class="ls columns_padding_25 section_padding_top_50 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">Vacancies</h3>
                <p>PARLA is a company attracting talents for realization potential and creates favourable working conditions for future success and achievements</p>
                <p><b>We offer:</b></p>
                <ul>
                    <li>opportunity to become professional in your sphere and to increase expertise in the related areas.</li>
                    <li>to become company’s development driver, to implement ideas, innovations, projects together with the company.</li>
                </ul>
            </div>
        </div>
    </div>
</section>


@section Scripts {

    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        if (location.hash != null || location.hash != '') {
            var TagID = location.hash.replace('#', '');
            ScrollObjects(TagID, 0, '@ViewBag.PageID', false);
        }
    </script>
}

