
@{
    ViewData["Title"] = "ExportDevelopment";
    Layout = "~/Areas/EN/Views/Shared/_GeneralLayoutEN.cshtml";
}

    
<section class="page_breadcrumbs ds color parallax section_padding_top_150 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Export development</h2>
            </div>
        </div>
    </div>
</section>

<section class="ls columns_padding_25 section_padding_top_50 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">Export development</h3>
                <p>Export development is an important element of the “Parla Pharmaceuticals” business strategy. .</p>

                <p> “Parla Pharmaceuticals” intends to export advanced biotechnological and nanotechnological products being developed in accordance with international GMP standards. Priority areas of development include developing new sales markets in CIS countries, South and Central America, Europe.</p>

                <img src="~/lib/pharma/images/Map-2.jpg" />
                <p>&nbsp;</p>
            </div>
        </div>
        
    </div>
</section>



