
@{
    ViewData["Title"] = "NewsDetail";
    //Layout = "~/Areas/EN/Views/Shared/_GeneralLayout.cshtml";
}

<section class="page_breadcrumbs ds color parallax section_padding_top_130 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                @*<h2>
                        @ViewBag.DictStr[3][@ViewBag.LanguageID]
                    </h2>*@
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_top_50 section_padding_bottom_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                @*<h2 class="section_header">
                        @ViewBag.DictStr[4][@ViewBag.LanguageID]
                    </h2>*@
            </div>
        </div>
    </div>
</section>
<section class="intro_section page_mainslider ParlaLogo color bottompadding_50">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/Uploads/DSC01816.jpg" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="item-content">
                                <p class="AboutUsSlidersContent" style="margin-top:-33px">
                                    On July 2, Parla Pharmaceuticals received a visit from Sergio Perez Gunella, Argentina’s Ambassador to the Republic of Azerbaijan and Ms. Corina Beatriz Lehmann, Deputy Head of Mission for a roundtable discussion. The parties concentrated their attention on the possible mutual collaboration of the private sectors of both countries in pharmaceutical sector. Officials also got better acquainted with areas of business activity of Parla Pharmaceuticals. They had comprehensive exchange of views on the importance of local production and discussed possible mutual export activities and technology transfer. Parties also highlighted the significant value of the development and long-term sustainability of local pharmaceutical industry and healthcare sector.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/Uploads/DSC01865.jpg" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="item-content">
                                <p class="AboutUsSlidersContent" style="margin-top:-33px">
                                    On July 2, Parla Pharmaceuticals received a visit from Sergio Perez Gunella, Argentina’s Ambassador to the Republic of Azerbaijan and Ms. Corina Beatriz Lehmann, Deputy Head of Mission for a roundtable discussion. The parties concentrated their attention on the possible mutual collaboration of the private sectors of both countries in pharmaceutical sector. Officials also got better acquainted with areas of business activity of Parla Pharmaceuticals. They had comprehensive exchange of views on the importance of local production and discussed possible mutual export activities and technology transfer. Parties also highlighted the significant value of the development and long-term sustainability of local pharmaceutical industry and healthcare sector.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="item-media rounded overflow_hidden">
                                <img src="~/Uploads/DSC01775 - 1.jpg" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="item-content">
                                <p class="AboutUsSlidersContent" style="margin-top:-33px">
                                    On July 2, Parla Pharmaceuticals received a visit from Sergio Perez Gunella, Argentina’s Ambassador to the Republic of Azerbaijan and Ms. Corina Beatriz Lehmann, Deputy Head of Mission for a roundtable discussion. The parties concentrated their attention on the possible mutual collaboration of the private sectors of both countries in pharmaceutical sector. Officials also got better acquainted with areas of business activity of Parla Pharmaceuticals. They had comprehensive exchange of views on the importance of local production and discussed possible mutual export activities and technology transfer. Parties also highlighted the significant value of the development and long-term sustainability of local pharmaceutical industry and healthcare sector.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
