
@{
    //ViewData["Title"] = "ParlaCulture";
}


    <section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <br /><br /><br />
                    <h2>Parla Culture</h2>
                    @*<ol class="breadcrumb highlightlinks">
                        <li>
                            <a href="index.htm" tppabs="http://webdesign-finder.com/html/pharma/">
                                Home
                            </a>
                        </li>
                        <li> <a href="#">Pages</a> </li>
                        <li class="active">About</li>
                    </ol>*@
                </div>
            </div>
        </div>
    </section>

    <section class="ls page_portfolio section_padding_top_150 section_padding_bottom_150">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="filters isotope_filters greylinks"> <a href="#" class="selected" data-filter="*">All</a> <a href="#" data-filter=".medical">Medical</a> <a href="#" data-filter=".clinic">Clinic</a> <a href="#" data-filter=".dental">Dental</a> <a href="#" data-filter=".pharmacists">Pharmacists</a>								</div>
                    <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20" data-filters=".isotope_filters">
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 medical">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/01.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/01.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/01.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/01.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlight2links"> <a href="#">Medical</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Morbi euismod
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 clinic">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/02.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/02.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/02.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/02.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlightlinks"> <a href="#">Clinic</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Vestibulum libero
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 dental">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/03.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/03.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/03.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/03.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlight2links"> <a href="#">Dental</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Pellentesque commodo
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 pharmacists">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/04.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/04.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/04.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/04.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlightlinks"> <a href="#">Pharmacists</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Lorem ipsum
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 medical">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/05.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/05.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/05.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/05.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlight2links"> <a href="#">Medical</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Sarmiento museum
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 clinic">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/06.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/06.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/06.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/06.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlightlinks"> <a href="#">Clinic</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Proin imperdiet
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 dental">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/07.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/07.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/07.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/07.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlight2links"> <a href="#">Dental</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Aenean varius
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 pharmacists">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/08.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/08.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/08.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/08.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlightlinks"> <a href="#">Pharmacists</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Praesent eleifend
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 medical">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/09.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/09.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/09.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/09.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlight2links"> <a href="#">Medical</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Phasellus volutpat
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 clinic">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/10.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/10.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/10.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/10.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlightlinks"> <a href="#">Clinic</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Fusce a vestibulum
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 dental">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/11.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/11.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/11.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/11.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlight2links"> <a href="#">Dental</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Vivamus suscipit
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                        <div class="isotope-item col-lg-4 col-md-6 col-sm-12 pharmacists">
                            <article class="vertical-item content-padding big-padding post format-standard with_border rounded text-center">
                                <div class="item-media">
                                    <img src="~/lib/pharma/images/gallery/12.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/12.jpg" alt="">
                                    <div class="media-links">
                                        <div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/lib/pharma/images/gallery/12.jpg" tppabs="http://webdesign-finder.com/html/pharma/~/lib/pharma/images/gallery/12.jpg"></a> </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="categories-links highlightlinks"> <a href="#">Pharmacists</a> </div>
                                        <h4 class="entry-title topmargin_0">
                                            <a href="gallery-single.html" tppabs="http://webdesign-finder.com/html/pharma/gallery-single.html" rel="bookmark">
                                                Proin congue
                                            </a>
                                        </h4>
                                    </header>
                                    <p> Vivamus enim justo, suscipit laoreet odio id, interdum egestas sapien. Phasellus ultricies felis lectus, sed condimentum libero condimentum eget. </p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center"> <img src="img/loading.png" tppabs="http://webdesign-finder.com/html/pharma/img/loading.png" alt="" class="fa-spin" /> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>