
@{
    ViewData["Title"] = "PressRelease";
    //Layout = "~/Areas/EN/Views/Shared/_GeneralLayout.cshtml";
}
<section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                @*<h2>Pipeline</h2>
                <ol class="breadcrumb highlightlinks">
                    <li>
                        <a href="index.htm" tppabs="http://webdesign-finder.com/html/pharma/">
                            Home
                        </a>
                    </li>
                    <li> <a href="#">Pages</a> </li>
                    <li class="active">Pipeline</li>
                </ol>*@
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_top_50 section_padding_bottom_130">
    <div class="container">
        <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
            <div class="isotope-item col-lg-3 col-md-4 col-sm-6">
                <article class="vertical-item content-padding with_border rounded text-center">
                    <div class="item-media top_rounded overflow_hidden">
                        <img src="~/Uploads/DSC01775.jpg" />
                    </div>
                    <div class="item-content">
                        <h4>
                            <a href="pipeline-single.html">
                                @ViewBag.DictStr[130][@ViewBag.LanguageID]
                            </a>
                        </h4>
                        <p></p>
                        <p class="topmargin_20">
                            <a href="javascript:navigateMe('/EN/Home/NewsDetail/1');" class="theme_button color2 inverse min_width_button">
                                @ViewBag.DictStr[148][@ViewBag.LanguageID]
                            </a>
                        </p>
                    </div>
                </article>
            </div>
            
        </div>
    </div>
</section>
