
@{
    ViewData["Title"] = "AboutUs";
}


<section class="page_breadcrumbs ds color parallax section_padding_top_150 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>
                    @*@ViewBag.DictStr[99][@ViewBag.LanguageID]*@
                </h2>
            </div>
        </div>
    </div>
</section>


<section class="intro_section page_mainslider ParlaLogo color bottompadding_0 padding_50">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden" >
                                <img src="~/lib/pharma/images/Products/Fungipar-2-Web.png" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Fungipar™</span>@*<span style="background-color:green;color:white;font-family:avantgarden;font-weight:bold;" class="rounded leftpadding_5 rightpadding_5">150</span>*@<br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Fluconazole 150 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        <b>International nonproprietary name:</b> @:Fluconazole <br/>
                                        @:Fungipar is antifungal drug from the triazole group for systemic use. Fluconazole belongs to the 3rd generation of antifungal drugs and was synthesized in 1982.
                                        <span id="MoreLessP1" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product1" style="display:none;">
                                            It is effective in fungal diseases caused by Candida spp., Microsporum spp., Cryptoccus neoformans, Trichophyton spp., Blastomyces dermatitidis, Coccidiodes immitis and Histoplasma capsulatum. Fungipar - healthy life without fungal infections!
                                            <br />Fungipar should be prescribed by a doctor, read the <a href="~/lib/pharma/images/Products/Docs/Fungipar (30.10.2020) print.pdf" target="_blank">instructions</a> before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        <b>Beynəlxalq patentləşdirilməmiş adı:</b> @:Flukonazol <br />
                                        @:Fungipar - triazol qrupundan sistem təsirli göbələk əleyhinə vasitədir.Flukonazol göbələk əleyhinə dərmaların 3 - cü nəslinə aiddir və 1982 - ci ildə sintez edilmişdir.
                                        <span id="MoreLessP1" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product1" style="display:none;">
                                            Candida spp., Microsporum spp., Cryptoccus neoformans, Trichophyton spp., Blastomyces dermatitidis, Coccidiodes immitis və Histoplasma capsulatum tərəfindən törədilən göbələk xəstəliklərində effektivdir.Fungipar - göbələk infeksiyasız sağlam həyat!
                                            <br />Fungipar həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="~/lib/pharma/images/Products/Docs/Fungipar (30.10.2020) print.pdf" target="_blank">təlimatla</a> tanış olun.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "ru")
                                    {
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>

<section class="intro_section page_mainslider ParlaLogo color bottompadding_0 padding_50">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Nidapar™</span>@*<span style="background-color:hotpink;color:white;font-family:avantgarden;font-weight:bold;" class="rounded leftpadding_5 rightpadding_5">250</span>*@<br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Metronidazole 250 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        @:<b>International  nonproprietary  name:</b> Metronidazole<br />
                                        @:Nidapar has antiprotozoan and antibacterial effects.
                                        <span id="MoreLessP2" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product2" style="display:none;">
                                            It is effects against Trichomonas vaginalis, Gardnerella vaginalis and other protazoa including Entamoeba histolytica, Gardia lamblia, Balantidium coli and Helicobacter pylori and anaerobic bacteria.
                                            Nidapar is a time-tested antibacterial drug for the treatment and prevention of various infections.
                                            <br />Metronidazole should be prescribed by a doctor, read the <a href="~/lib/pharma/images/Products/Docs/Nidapar 250 (30.10.2020) print.pdf" target="_blank">instructions</a> before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        @:<b>Beynəlxalq patentləşdirilməmiş adi:</b> Metronidazole<br />
                                        @:Nidapar antimikrob və antiprotozoy dərman vasitəsidir.
                                        <span id="MoreLessP2" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product2" style="display:none;">
                                            Trichomonas vaginalis, Gardnerella vaginalis və Entamoeba histolytica, Giardia lamblia, Balantidium coli və digər protozoylara, Helicobacter pylori daxil olmaqla və anaerob bakteriyalara qarşı təsirlidir.Nidapar – zamanla sınanmış, geniş sübut bazasına malik olan, müxtəlif infeksiyaların müalicə və profilaktikası üçün antibacterial dərman vasitəsidir.
                                            <br />Metronidazol həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="~/lib/pharma/images/Products/Docs/Nidapar 250 (30.10.2020) print.pdf" target="_blank">təlimatla</a> tanış olun.
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden">
                                @*<img src="~/lib/pharma/images/Our company 1st slider.jpg" alt="">*@
                                <img src="~/lib/pharma/images/Products/Nidapar250--2-Web.png" />
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>

<section class="intro_section page_mainslider ParlaLogo color bottompadding_0  padding_50">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden">
                                @*<img src="~/lib/pharma/images/Our company 1st slider.jpg" alt="">*@
                                <img src="~/lib/pharma/images/Products/Nidapar500--2-Web.png" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Nidapar™</span>@*<span style="background-color:purple;color:white;font-family:avantgarden;font-weight:bold;" class="rounded leftpadding_5 rightpadding_5">500</span>*@<br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Metronidazole 500 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        @:<b>International  nonproprietary  name:</b> Metronidazole<br />
                                        @:Nidapar has antiprotozoan and antibacterial effects.
                                        <span id="MoreLessP3" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product3" style="display:none;">
                                            It is effects against Trichomonas vaginalis, Gardnerella vaginalis and other protazoa including Entamoeba histolytica, Gardia lamblia, Balantidium coli and Helicobacter pylori and anaerobic bacteria.
                                            Nidapar is a time-tested antibacterial drug for the treatment and prevention of various infections.
                                            <br />Metronidazole should be prescribed by a doctor, read the <a href="~/lib/pharma/images/Products/Docs/Nidapar 250 (30.10.2020) print.pdf" target="_blank">instructions</a> before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        @:<b>Beynəlxalq patentləşdirilməmiş adi:</b> Metronidazole<br />
                                        @:Nidapar antimikrob və antiprotozoy dərman vasitəsidir.
                                        <span id="MoreLessP3" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product3" style="display:none;">
                                            Trichomonas vaginalis, Gardnerella vaginalis və Entamoeba histolytica, Giardia lamblia, Balantidium coli və digər protozoylara, Helicobacter pylori daxil olmaqla və anaerob bakteriyalara qarşı təsirlidir.Nidapar – zamanla sınanmış, geniş sübut bazasına malik olan, müxtəlif infeksiyaların müalicə və profilaktikası üçün antibacterial dərman vasitəsidir.
                                            <br />Metronidazol həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="~/lib/pharma/images/Products/Docs/Nidapar 250 (30.10.2020) print.pdf" target="_blank">təlimatla</a> tanış olun.
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>

<section class="intro_section page_mainslider ParlaLogo color bottompadding_0 padding_50">
    <div class="flexslider" data-dots="true" data-nav="false">
        <ul class="slides">
            <li>
                <article class="post side-item side-md content-padding ">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="item-content">
                                <h3 class="section_header">
                                    <span style="color:#003c72;font-family:avantgarden;font-weight:bold;">Tamurin ™</span>@*<span style="background-color:hotpink;color:white;font-family:avantgarden;font-weight:bold;" class="rounded leftpadding_5 rightpadding_5">250</span>*@<br />
                                    <div style="color: #00adee;font-size:20px;font-family:avantgarden;">Tamsulosin 0.4 mg</div>
                                </h3>
                                <p class="AboutUsSlidersContent">
                                    @if (ViewBag.Language == "en")
                                    {
                                        @:<b>International  nonproprietary  name: </b> Tamsulosin<br />
                                        @:Tamsulosin is an α-blocker
                                        <span id="MoreLessP4" style="color:cornflowerblue;cursor:pointer;">More...</span>
                                        <span id="Product4" style="display:none;">
                                            that quickly relieves the symptoms of benign prostatic hyperplasia and improves the quality of life of patients.
                                            <br />Tamsulosin should be prescribed by a doctor, read the
                                            <a href="~/lib/pharma/images/Products/Docs/Tamurin (30.10.2020) print.pdf" target="_blank">instructions</a> before use.
                                        </span>
                                    }
                                    @if (ViewBag.Language == "az")
                                    {
                                        @:<b>Beynəlxalq patentləşdirilməmiş adi:</b> Tamsulosin<br />
                                        @:Tamsulosin - prostat vəzinin xoşxassəli hiperplaziya simptomlarını 
                                        <span id="MoreLessP4" style="color:cornflowerblue;cursor:pointer;">çox oxu...</span>
                                        <span id="Product4" style="display:none;">
                                            tez aradan qaldıran və pasientlərin həyat keyfiyyətini yaxşılaşdıran α-blokatordur.
                                            <br />Tamsulosin həkim tərəfindən təyin olunmalıdır, istifadədən əvvəl <a href="~/lib/pharma/images/Products/Docs/Tamurin (30.10.2020) print.pdf" target="_blank">təlimatla</a> tanış olun.
                                        </span>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-media rounded overflow_hidden">
                                @*<img src="~/lib/pharma/images/Our company 1st slider.jpg" alt="">*@
                                <img src="~/lib/pharma/images/Products/tamurin-2-web.png" />
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>

@section Scripts {

    <script src="~/lib/pharma/js/Parla.js"></script>
    <script>
        $(document).ready(function () {
            $("#MoreLessP1").click(function () {
                $("#MoreLessP1").hide();
                $("#Product1").show();
            });
            $("#MoreLessP2").click(function () {
                $("#MoreLessP2").hide();
                $("#Product2").show();
            });
            $("#MoreLessP3").click(function () {
                $("#MoreLessP3").hide();
                $("#Product3").show();
            });
            $("#MoreLessP4").click(function () {
                $("#MoreLessP4").hide();
                $("#Product4").show();
            });
        });
    </script>
}
