
@{
    ViewData["Title"] = "Products";
    Layout = "~/Areas/EN/Views/Shared/_GeneralLayoutEN.cshtml";
}


<section class="page_breadcrumbs ds color parallax section_padding_top_150 section_padding_bottom_75">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Our Product Strategy</h2>
            </div>
        </div>
    </div>
</section>

<section class="ls columns_padding_25 section_padding_top_50 section_padding_bottom_100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="module-header">Our Product Strategy</h3>

                <p>Parla has mainly been established to be an international player in pharmaceutical sector. In order to achieve such ambitious goals, there is a mandate internally to focus on <strong>QUALITY OF PRODUCTS</strong>. Parla is committed to provide high quality products with affordable price. Based on this strategy, Parla has defined its own product strategy very clear.</p>
                <p>All products will be Parla’s properties, they will be branded and will be available worldwide with its unique strategy.</p>
                <p>Parla will have a very wide range of products which will be used in different therapeutic areas from OTC (Over the counter) products to high-tech anticancer treatments. However, some special focus areas are below:</p>
                <ul>
                    <li>Cardiovascular</li>
                    <li>Endocrinology</li>
                    <li>Gastroenterology</li>
                    <li>Inflammation</li>
                    <li>
                        Hematology
                        <ul>
                            <li>Hemophilia</li>
                            <li>Thalassemia</li>
                        </ul>
                    </li>
                    <li>Oncology</li>
                    <li>Neurology</li>
                    <li>Gynecology</li>
                </ul>
            </div>
        </div>
    </div>
</section>







